# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3

# VSCode
.vscode/

# Environment
.env

# Migrations (optional if you don’t want to share)
**/migrations/*

# OS
.DS_Store
Thumbs.db
